QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_URL=https://your-cluster-id.eu-central-1-0.aws.cloud.qdrant.io
QDRANT_COLLECTION_NAME=notbook_llm_rag

FRONTEND_URL=http://localhost:5173
PORT=3000

HF_API_KEY=your_huggingface_api_key_here
GROQ_API_KEY=your_groq_api_key_here